<div class="panel panel-primary">
  <div class="panel-heading">
      {{pageTitle}}
  </div>
<div class="panel-body">
<div class="table-responsive">
  <table class="table table-stripped" *ngIf="products && products.length" >
      <thead>
        <tr>
          <td >
              <button class="btn btn-primary" (click)="toggleImage()">
               {{showImage? 'Hide':'Show'}} image
              </button>
          </td>
          <td>
            Product
          </td>
          <td>
            Code
          </td>
          <td>
            Available
          </td>
          <td>
            Price
          </td>
          <td>
            5 Star Rating
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
            <td>
              <!--property binding-->
              <img
              *ngIf="showImage"
              [src]="product.imageUrl" [title]='product.productName | uppercase'
              [style.width.px]='imageWidth'
              [style.margin.px]='imageMargin'
              />
            </td>
            <td>
                {{product.productName}}
            </td>
            <td>
                {{product.productCode | lowercase}}
            </td>
            <td>
                {{product.releaseDate}}
            </td>
            <td>
                {{product.price | currency :'USD':true:'1.2-2'}}
            </td>
            <td>
                {{product.starRating}}
            </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="5">
            Filter By: &nbsp;
              <input type="text" [(ngModel)]="listFilter" />
          </th>
          <th>
              {{listFilter}}
          </th>
        </tr>
      </tfoot>
  </table>
</div><!--end of table-responsive-->
</div><!--end of panel-body-->
</div><!--end of panel-->
